html, body {
  padding: 0;
  margin: 0;
  background-color: #DEDEDE;
}

.chatInput {
  position: fixed;
  width: calc(100% - 110px);
  outline: none;
  bottom: 20px;
  left: 20px;
  height: 30px;
  padding: 10px 20px;
  margin: 0;
  border: 0;
}

.chatButton {
  position: fixed;
  padding: 0;
  margin: 0;
  right: 20px;
  bottom: 20px;
  height: 50px;
  width: 50px;
  border: 0;
  background-color: #333333;
  color: white;
  cursor: pointer;
}

.chatWindow {
  max-height: calc(100vh - 90px);
  overflow-y: auto;
}

#messages {
  padding: 10px 20px;
  list-style: none;
}